@font-face {
  font-family: "Trajan Pro";
  src: url("../fonts/TrajanPro-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Trebuchet MS";
  src: url("../fonts/trebuchet-ms-2/trebuc.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}
* {
  font-family: "Trebuchet MS", sans-serif;
}
.container {
  width: 100% !important;
  padding-right: var(--bs-gutter-x, 0.75rem) !important;
  padding-left: var(--bs-gutter-x, 0.75rem) !important;
  margin-right: auto !important;
  margin-left: auto !important;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px !important;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px !important;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px !important;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px !important;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px !important;
  }
}
.help_buttons {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.help_buttons button {
  padding: 0px 10px 10px 10px;
  margin-right: 10px;
  border: none;
  border-radius: 10px;
  background-color: white;
  border-bottom: 3px solid #d3996a;
}

.heading {
  font-family: "Trajan Pro", serif !important;
  font-weight: bold !important;
}
/* For modern browsers */
::-webkit-scrollbar {
  width: 16px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Light gray track */
}

::-webkit-scrollbar-thumb {
  background-color: #ff6600; /* Orange button */
  border-radius: 8px; /* Roundness of the button */
  border: 4px solid #f1f1f1; /* Matches the track for a thick appearance */
}
